#Ignore:
/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
/app/config/development/*
/app/config/systest/*
.DS_Store
Vagrantfile
bootstrap.sh
.vagrant
/app/config/development
/bootstrap/start.php
/storage/*
/conf